@tailwind base;

.button {
  @apply font-h2 text-xl py-2 px-4 bg-indigo-500 text-white rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75;
}

.font-h1 {
  font-family: 'Reem Kufi', sans-serif;
  @apply text-4xl lg:text-6xl text-gray-200;
}

.font-h2 {
  font-family: 'Rasa', serif; 
  @apply text-lg leading-tight md:leading-normal  lg:text-2xl text-gray-300;
}

[data-menuanchor].active {
  opacity: 1;
  color:white;
}

html:not(.no-js) h1[data-aos="fade-up"], html:not(.no-js) img[data-aos="fade-up"] {
  opacity: 1;
  transform: translate3d(0,30px,0);
}

@tailwind components;
@tailwind utilities;
